<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.NoteTakerConnectionString"
            connectionString="Data Source=LAP-MAJAYI\SQLEXPRESS;Initial Catalog=NoteTaker;Persist Security Info=True;User ID=majayi;Password=Password-123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>